services:
  cache:
    image: redis:latest
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      interval: 1s
      timeout: 3s
      retries: 5
    command: ["redis-server"]
    network_mode: host
    ports:
      - "6379:6379"

  fastapi:
    depends_on:
      cache:
        condition: service_healthy
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    network_mode: host
    volumes:
      - ./data:/app/data
